<li class="admin-article-list_item" data-slug="{{this.slug}}">
  <a data-slug="{{this.slug}}" href="#{{this.slug}}">{{this.title}}</a>
  <a href="/article/{{this.slug}}" target="velum-{{this.slug}}" class="admin-open-article-link">open in new tab ↗</a>
  <button type="button" data-slug="{{this.slug}}" data-title="{{this.title}}" class="delete">Delete</button>
  <br>
  <span class="date">{{date_from_timestamp this.timestamp}}</span>
</li>
