<!DOCTYPE html>
{{#if (eq body_class "admin") }}
<html class="admin">
{{else}}
<html class="{{ theme }}">
{{/if}}
  <head>
    <title>{{{title}}} &middot; {{{blog_title}}}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_apple.png">

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,700;1,300;1,700&family=JetBrains+Mono:wght@300&family=Overlock:wght@400;700&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset_path "main.css"}}" id="main-style-tag">
    {{#if (eq body_class "admin") }}
      <link rel="stylesheet" href="{{asset_path "admin.css"}}" id="admin-style-tag">
    {{/if}}
    <link rel="stylesheet" href="{{asset_path "prism.css"}}">
  </head>
  <body class="{{body_class}}">
