<!DOCTYPE html>
<html>
  <head>
    <title>{{{title}}} &middot; {{{blog_title}}}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_apple.png">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="//fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700|IBM+Plex+Sans:300,300i,400,700&display=swap">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700|IBM+Plex+Sans:300,300i,400,700&display=swap" media="print" onload="this.media='all'">
    {{#if theme}}
      <link rel="stylesheet" href="{{asset_path theme}}" id="main-style-tag">
    {{else}}
      <link rel="stylesheet" href="{{asset_path "themes/topo.css"}}" id="main-style-tag">
    {{/if}}
  </head>
  <body class="{{body_class}}">
