{{> _header}}

<header>
  <div class="home link-box">
    <a href="{{return_path}}" class="index-link">&larr; {{{return_text return_path}}}</a>
  </div>
  <!-- <div class="logout link-box">{{{blog_title}}}</div> -->
  {{> _theme_selector}}
  <h1>{{article.title}}</h1>
</header>

<article>
  <section id="article-body" class="post-content">
    <h3 class="timestamp">{{date_from_timestamp article.timestamp}}</h3>
    {{{render_tags article.tags None}}}
    {{{article.parsed_content}}}
  </section>

  {{> _comments}}

</article>

<nav class="next-prev">
  <p class="more-articles-text">Article navigation:</p>
  {{#if article.prev}}
  <div class="nav-prev">
    <a href="/article/{{article.prev.slug}}">&larr; {{article.prev.title}}</a>
  </div>
  {{else}}
  <div class="nav-prev">
    <span>↻ no more newer articles</span>
  </div>
  {{/if}}
  <span class="nav-sep">&middot;</span>
  {{#if article.next}}
  <div class="nav-next">
    <a href="/article/{{article.next.slug}}">{{article.next.title}} &rarr;</a>
  </div>
  {{else}}
  <div class="nav-next">
    <span>no more older articles ↺</span>
  </div>
  {{/if}}
  <p class="footer-home-link-box">
  <a href="{{return_path}}" class="index-link">↰ {{{return_text return_path}}}</a>
  </p>

  <h3 class="related-articles-header">Related articles:</h3>
  <ul class="related-articles">
    {{#each related_articles}}
    <li><a href="/article/{{slug}}">{{title}}</a></li>
    {{/each}}
  </ul>
</nav>

{{> _footer}}
