{{> _header}}

<header>
  <div class="home link-box">
    <a href="{{return_path}}" class="index-link">&larr; {{{return_text return_path}}}</a>
  </div>
  <!-- <div class="logout link-box">{{{blog_title}}}</div> -->
  {{> _theme_selector}}
  <h1>{{article.title}}</h1>
</header>

<article>
  <section id="article-body" class="post-content">
    <h3 class="timestamp">{{date_from_timestamp article.timestamp}}</h3>
    {{{render_tags article.tags None}}}
    {{{article.parsed_content}}}
  </section>

  {{> _comments}}

</article>

<nav class="next-prev">
  <p class="more-articles-text">More articles:</p>
  {{#if prev}}
  <div class="nav-prev">
    <a href="/article/{{prev.slug}}">&larr; {{prev.title}}</a>
  </div>
  {{else}}
  <div class="nav-prev">
    <span>↻ no more articles</span>
  </div>
  {{/if}}
  <span class="nav-sep">&middot;</span>
  {{#if next}}
  <div class="nav-next">
    <a href="/article/{{next.slug}}">{{next.title}} &rarr;</a>
  </div>
  {{else}}
  <div class="nav-next">
    <span>no more articles ↺</span>
  </div>
  {{/if}}
  <p class="footer-home-link-box">
  <a href="{{return_path}}" class="index-link">↰ {{{return_text return_path}}}</a>
  </p>
</nav>

{{> _footer}}
