{{> header}}
  <body class="article">
    <header>
      <div class="home-link-box">
        <a href="/">&larr; article index</a>
      </div>
      <h1>{{article.title}}</h1>
    </header>

    <section id="content" class="post-content">
      <h3 class="timestamp">{{date_from_timestamp article.timestamp}}</h3>
      {{#with article}}
        {{> tag_list}}
      {{/with}}
      {{{article.content}}}
    </section>

    <nav class="next-prev">
      <p>More articles:</p>
      {{#if prev}}
      <div class="nav-prev">
        <a href="/articles/{{prev.slug}}">&larr; {{prev.title}}</a>
      </div>
      {{else}}
      <span class="empty"></span>
      {{/if}}
      <span class="nav-sep">&middot;</span>
      {{#if next}}
      <div class="nav-next">
        <a href="/articles/{{next.slug}}">{{next.title}} &rarr;</a>
      </div>
      {{else}}
      <span class="empty"></span>
      {{/if}}
    </nav>

    {{> footer}}
  </body>
</html>
