<!DOCTYPE html>
<html>
  <head>
    <title>{{article.title}} &middot; blog.andyf.me</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <header><a href="/">&larr; article index</a></header>
    <section id="content">
      <h1>{{article.title}}</h1>
      <h2>{{date_from_timestamp article.timestamp}}</h2>
      {{{article.content}}}

      <nav class="next-prev">
        {{#if prev}}
        <a href="{{prev.route}}">&larr; {{prev.title}}</a>
        {{/if}}
        {{#if prev}}{{#if next}}
        &middot;
        {{/if}}{{/if}}
        {{#if next}}
        <a href="{{next.route}}">{{next.title}} &rarr;</a>
        {{/if}}
      </nav>
    </section>
  </body>
</html>
