{{> header}}

<header>
  {{#if search_tag}}
    <div class="home link-box">
      <a href="/" class="index-link">article index</a>
    </div>
    <h1 class="with-tag"><span class="subdued">Tag:</span> {{search_tag}}</h1>
    <h2>{{article_count}} articles</h2>
  {{else}}
    <h1>{{title}}</h1>
  {{/if}}
</header>

{{#if (gt current_page 1) }}
  {{> index_pagination }}
{{/if}}

<article>
  <section id="post-index" class="content">
    <ul class="article-list">
      {{#each articles}}
      <li class="article-list_item">
        <h2><a href="/articles/{{this.slug}}?return_to={{../return_to}}">{{this.title}}</a></h2>
        <h3 class="timestamp">{{date_from_timestamp this.timestamp}}</h3>
        <p class="content-preview">{{this.preview}}</p>
        {{> tag_list search_tag=../search_tag}}
      </li>
      {{/each}}
    </ul>
  </section>
</article>

{{> index_pagination }}

{{> footer}}
