{{> _header}}

<header>
  {{#if search_tag}}
    <div class="home link-box">
      <a href="/" class="index-link">&larr; All articles</a>
    </div>
    <!-- <div class="logout link-box">{{{blog_title}}}</div> -->
    {{> _theme_selector}}
    <h1 class="with-tag"><span class="subdued">Tag:</span> {{search_tag}}</h1>
    <h2>{{article_count}} articles</h2>
  {{else}}
    <h1>{{blog_title}}</h1>
    {{> _theme_selector}}
  {{/if}}
</header>

{{#if (gt current_page 1) }}
  {{> _index_pagination }}
{{/if}}

<article>
  <section id="post-index" class="content">
    <ul class="article-list">
      {{#each articles}}
      <li class="article-list_item">
        <h2><a href="/articles/{{this.slug}}">{{this.title}}</a></h2>
        <h3 class="timestamp">{{date_from_timestamp this.timestamp}}</h3>
        <p class="content-preview">{{this.preview}}</p>
        {{> _tag_list search_tag=../search_tag}}
      </li>
      {{/each}}
    </ul>
  </section>
</article>

{{> _index_pagination }}

{{> _footer}}
