<!DOCTYPE html>
<html>
  <head>
    <title>{{this.title}} &middot; blog.andyf.me</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <section id="content">
      <h1>{{title}}</h1>
      {{#each articles}}
        <h2><a href="{{this.route}}">{{this.title}}</a></h2>
        <h3>{{date_from_timestamp this.timestamp}}
      {{/each}}
    </section>
  </body>
</html>
