{{> _header}}

<header>
  {{#if search_tag}}
    <div class="home link-box">
      <a href="/" class="index-link">&larr; All articles</a>
    </div>
    {{> _theme_selector}}
    <h1 class="with-tag"><span class="subdued">Tag:</span> {{search_tag}}</h1>
    <h2>{{article_count}} articles</h2>
  {{else}}
    {{#if (gt current_page 1) }}
      <div class="home link-box">
        <a href="/" class="index-link">&larr; Home</a>
      </div>
    {{/if}}
    <h1>{{blog_title}}</h1>
    {{> _theme_selector}}
  {{/if}}
</header>

{{#if (gt current_page 1) }}
  {{> _index_pagination }}
{{/if}}

<article>
  {{#if home_page_info}}
    {{> _home_page_info}}
  {{/if}}

  </section>
  <section id="post-index" class="content">
    {{#if (gt article_count 0)}}
      <ul class="article-list">
        {{#each articles}}
        <li class="article-list_item">
          <h2><a href="/article/{{this.slug}}">{{this.title}}</a></h2>
          <h3 class="timestamp">{{date_from_timestamp this.timestamp}}</h3>
          <p class="content-preview">{{this.preview}}</p>
          {{{render_tags this.tags ../search_tag}}}
          <p class="article-comment_count">Comments: <span>{{lookup ../comment_counts @index}}</span></p>
        </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="empty-article-list-note">No articles found.</p>
    {{/if}}
  </section>
</article>

{{#if (gt article_count 0)}}
  {{> _index_pagination }}
{{/if}}

{{> _footer}}
