{{> header}}
  <body>
    <header class="index">
      <h1>{{title}}</h1>
    </header>

    <section id="content">
      <ul class="article-list">
        {{#each articles}}
        <li class="article-list_item">
          <h2><a href="{{this.route}}">{{this.title}}</a></h2>
          <h3>{{date_from_timestamp this.timestamp}}</h3>
        </li>
        {{/each}}
      </ul>
    </section>
    <nav class="pagination">
      {{#if (gt current_page 1)}}
      <div class="nav-prev">
        <a href="/page/{{prev_page}}">&larr; previous</a>
      </div>
      {{else}}
      <span class="empty"></span>
      {{/if}}
      <span class="nav-sep">Page {{current_page}} of {{max_page}}</span>
      {{#if (gt next_page 0)}}
      <div class="nav-next">
        <a href="/page/{{next_page}}">next &rarr;</a>
      </div>
      {{else}}
      <span class="empty"></span>
      {{/if}}
    </nav>

    {{> footer}}
  </body>
</html>
