{{> header}}
  <body>
    <header class="index">
      {{#if tag}}
        <div class="home-link-box">
          <a href="/">&larr; article index</a>
        </div>
        <h1 class="with-tag"><span class="subdued">Tag:</span> {{tag}}</h1>
        <h2>{{article_count}} articles</h2>
      {{else}}
        <h1>{{title}}</h1>
      {{/if}}
    </header>

    <section id="content">
      <ul class="article-list">
        {{#each articles}}
        <li class="article-list_item">
          <h2><a href="/articles/{{this.slug}}">{{this.title}}</a></h2>
          <h3 class="timestamp">{{date_from_timestamp this.timestamp}}</h3>
          {{> tag_list}}
        </li>
        {{/each}}
      </ul>
    </section>
    <nav class="pagination">
      {{#if (gt current_page 1)}}
      <div class="nav-prev">
        <a href="/index/{{prev_page}}">&larr; previous</a>
      </div>
      {{else}}
      <span class="empty"></span>
      {{/if}}
      <span class="nav-sep">Page {{current_page}} of {{max_page}}</span>
      {{#if (gt next_page 0)}}
      <div class="nav-next">
        <a href="/index/{{next_page}}">next &rarr;</a>
      </div>
      {{else}}
      <span class="empty"></span>
      {{/if}}
    </nav>

    {{> footer}}
  </body>
</html>
