<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

    <channel>
        <title>{{blog_title}}</title>
        <link>{{blog_url}}</link>
        <description>{{blog_description}}</description>
        {{#each articles}}
        <item>
            <title>{{this.title}}</title>
            <link>{{blog_url}}/article/{{this.slug}}</link>
            <description>{{{this.content}}}</description>
        </item>
        {{/each}}
    </channel>

</rss>
