<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{blog_title}}</title>
        <link>{{blog_url}}</link>
        <description>{{blog_description}}</description>
        <ttl>240</ttl>
        <language>en-gb</language>
        <atom:link href="{{../blog_url}}" rel="self" type="application/rss+xml" />
        {{#each articles}}
        <item>
            <title>{{this.title}}</title>
            <link>{{article_full_url ../blog_url this.slug}}</link>
            <guid>{{article_full_url ../blog_url this.slug}}</guid>
            <description><![CDATA[{{{this.content}}}]]></description>
            <pubDate>{{rfc822_date this.timestamp}}</pubDate>
        </item>
        {{/each}}
    </channel>
</rss>
